+b.HEADER.header
    +e.top
        .container
            +e.A.phone(href="#") +375 29 50 30 652
    +e.bottom
        .container
            +b.A.headerLogo(href="#")
                +e.IMG.img(src="../img/logo.png")
            +b.NAV.menu
                +e.UL.list
                    +e.LI.item
                        +e.A.link(href="#") Главная
                    +e.LI.item
                        +e.A.link(href="#") О компании
                    +e.LI.item
                        +e.A.link(href="#") Услуги
                    +e.LI.item
                        +e.A.link(href="#") Контакты 
            +b.A.button._green._big(href="#") Заказаь обратный звонок
