.container
    +b.tabs-container
        +b.UL.tabs
            +e.LI.item
                +e.A.link Консультации по земельным вопросам
            +e.LI.item
                +e.A.link Помощь в оформлении документов
            +e.LI.item
                +e.A.link Восстановление границ земельных участков
            +e.LI.item
                +e.A.link Геодезические изыскания

        +b.tabs-content
            +e.container
                +e.information
                    +e.H2.h2-title Консультации по земельным вопросам
                    +e.UL.list
                        +e.LI.item Консультации по вопросам изъятия и предоставления земельных участков, в т.ч. покупки земли посредством аукционов по продаже земельных участков
                        +e.LI.item Составление оптимального алгоритма действий для получения земельного участка
                        +e.LI.item Консультации по вопросам использования земельных участков
                        +e.LI.item Анализ существующего (фактического) использования земельного участка и разработка предложений по его оптимизации
                        +e.LI.item Консультации по вопросам, связанным с расчетом земельного налога, арендной платы, иных платежей за землю
                        +e.LI.item Помощь в определении кадастровой стоимости земельного участка        
                +e.FORM.application(action="#")
                    +e.H3.h3-title Заполните заявку на получение консультации
                    +e.INPUT.name(placeholder="Имя")
                    +e.INPUT.phone(placeholder="Номер телефона*" required)
                    +e.INPUT.email(placeholder="E-mail")
                    +e.TEXTAREA.message(placeholder="Сообщение")
                    +b.BUTTON.button._orange._big._application(type="submit") Отправить заявку
                    +e.P.confidentiality Конфиденциальность гарантируем!
            
            +e.P.text Предоставление консультаций по земельным вопросам имеет ряд отличий от подобных услуг в других областях знаний. Наряду с правовыми аспектами, подвластными юристу, в этой сфере много технических нюансов, в которых досконально разберется только опытный землеустроитель.
            +e.P.text Отдельная тема – платежи за землю, в которой зачастую «теряются» даже бухгалтеры со стажем, так как опять же присутствует своя земельная специфика.
            +e.P.text._bold Ошибки могут обойтись значительно дороже, чем стоимость услуги по консультации!

        +b.tabs-content
            +e.container
                +e.information
                    +e.H2.h2-title Помощь в оформлении документов
                    +e.UL.list
                        +e.LI.item Помощь в оформлении документов, необходимых для предоставления земельного участка
                        +e.LI.item Помощь в регистрации участка и находящихся на нем строений в агентстве по государственной регистрации и земельному кадастру       
                +e.FORM.application(action="#")
                    +e.H3.h3-title Заполните заявку на получение консультации
                    +e.INPUT.name(placeholder="Имя")
                    +e.INPUT.phone(placeholder="Номер телефона*" required)
                    +e.INPUT.email(placeholder="E-mail")
                    +e.TEXTAREA.message(placeholder="Сообщение")
                    +b.BUTTON.button._orange._big._application(type="submit") Отправить заявку
                    +e.P.confidentiality Конфиденциальность гарантируем!
            
            +e.P.text Оформление документов на землю - дело нелегкое, отнимающее много времени и сил. По незнанию процесс оформления зачастую превращается в хождение по кругу, с периодическим возвратом на исходную позицию. Иногда заказчик, не обладающий достаточными знаниями в области землеустройства, просто не понимает, какие документы ему нужны при оформлении и где их взять.
            +e.P.text._bold Мы обладаем такими знаниями!


        +b.tabs-content
            +e.container
                +e.information
                    +e.H2.h2-title Восстановление границ земельных участков
                    +e.UL.list
                        +e.LI.item Закрепление поворотных точек границы межевыми знаками  
                +e.FORM.application(action="#")
                    +e.H3.h3-title Заполните заявку на получение консультации
                    +e.INPUT.name(placeholder="Имя")
                    +e.INPUT.phone(placeholder="Номер телефона*" required)
                    +e.INPUT.email(placeholder="E-mail")
                    +e.TEXTAREA.message(placeholder="Сообщение")
                    +b.BUTTON.button._orange._big._application(type="submit") Отправить заявку
                    +e.P.confidentiality Конфиденциальность гарантируем!
            
            +e.P.text Восстановление границ земельного участка необходимо в том случае, если полностью или частично утрачены межевые знаки. Обычно данное действие производится в случае разрешения земельного спора, при установке ограждения, при отчуждении участка либо объекта недвижимости, расположенного на нем. Некачественное выполнение данной работы чревато как минимум выброшенными средствами на нее саму, а в худших случаях – необходимостью сноса либо переноса как самого ограждения, так и расположенных на участке строений (зданий и сооружений).
            +e.P.text._bold Самый лучший гарант качества – опыт работы. Наши специалисты имеют стаж такой деятельности 10 и более лет!

        +b.tabs-content
            +e.container
                +e.information
                    +e.H2.h2-title Геодезические изыскания
                    +e.UL.list
                        +e.LI.item Геодезическая разбивка - вынос осей строений (зданий и сооружений) в натуру (на местность)
                        +e.LI.item Топографическая съемка местности
                +e.FORM.application(action="#")
                    +e.H3.h3-title Заполните заявку на получение консультации
                    +e.INPUT.name(placeholder="Имя")
                    +e.INPUT.phone(placeholder="Номер телефона*" required)
                    +e.INPUT.email(placeholder="E-mail")
                    +e.TEXTAREA.message(placeholder="Сообщение")
                    +b.BUTTON.button._orange._big._application(type="submit") Отправить заявку
                    +e.P.confidentiality Конфиденциальность гарантируем!
            
            +e.P.text Инженерно-геодезические изыскания должны обеспечивать возможность качественного проектирования, строительства и реконструкции предприятий, зданий и сооружений.
            +e.P.text Невнимательность при топосъемке либо при вынесении осей строений (зданий и сооружений) на местность могут перечеркнуть на нет весь труд проектировщиков и строителей, а иногда и привести к человеческим жертвам.
            +e.P.text._bold Поэтому в этой работе также важно качество, которое достигается опытным путем. Это про нас!

        +b.services-information.tabs-content._active
            +e.H1.title Услуги
            +e.P.text Целью нашего проекта является оказание профессиональной помощи  гражданам,  юридическим лицам и индивидуальным предпринимателям в разрешении земельных вопросов.
            +e.P.text Мы оказываем широкий спектр услуг в сфере земельных отношений.
            +e.P.text Так, наряду с консультациями по вопросам изъятия и предоставления земельных участков, их использования мы готовы оказать также помощь в оформлении документов на землю, составлению запросов в различные органы государственной власти.
            +e.P.text Наши специалисты в области геодезии выполнят работы по топографической съемке местности, выносу осей строений в натуру (на местность), восстановят утраченные межевые знаки по границе вашего земельного участка.
            +e.P.text При оказании услуг мы гарантируем конфиденциальность, предоставленные данные не разглашаются и используются только для решения поставленной задачи.
            +e.P.text_bold Перечень наших услуг не является закрытым. Он варьируется исходя из ваших потребностей!
        
    
+b.details._services
    .container
        +e.FORM.form(action="#")
            +e.H2.title Узнайте подробности прямо сейчас!
            +e.INPUT.phone(required placeholder="Введите ваш номер телефона*")
            +e.INPUT.email(placeholder="Введите e-mail")
            +e.TEXTAREA.text(placeholder="Сообщение")
            +b.LABEL.button._green._big._form(for="file") ЗАГРУЗИТЬ ФАЙЛЫ ДЛЯ АНАЛИЗА
            +b.INPUT.file(type="file" id="file") 
            +b.BUTTON.button._orange._big._form(type="submit") ОТПРАВИТЬ СООБЩЕНИЕ
             