.container
    +b.tabs-container
        +b.UL.tabs
            +e.LI.item
                +e.A.link Консультации по земельным вопросам
            +e.LI.item
                +e.A.link Помощь в оформлении документов
            +e.LI.item
                +e.A.link Восстановление границ земельных участков
            +e.LI.item
                +e.A.link Геодезические изыскания

        +b.tabs-content
            +e.text
                +e.H2 Консультации по земельным вопросам
                +e.UL.list
                    +e.LI.item Консультации по вопросам изъятия и предоставления земельных участков, в т.ч. покупки земли посредством аукционов по продаже земельных участков
                    +e.LI.item Составление оптимального алгоритма действий для получения земельного участка
                    +e.LI.item Консультации по вопросам использования земельных участков
                    +e.LI.item Анализ существующего (фактического) использования земельного участка и разработка предложений по его оптимизации
                    +e.LI.item Консультации по вопросам, связанным с расчетом земельного налога, арендной платы, иных платежей за землю
                    +e.LI.item Помощь в определении кадастровой стоимости земельного участка        
                    
            +e.application
                +e.H3 Заполните заявку на получение консультации
                +e.INPUT(placeholder="Имя")
                +e.INPUT(placeholder="Номер телефона*")
                +e.INPUT(placeholder="E-mail")
                +e.TEXTAREA(placeholder="Сообщение")
                +e.BUTTON Отправить заявку
                +e.P Конфиденциальность гарантируем!
            
            +e.P Предоставление консультаций по земельным вопросам имеет ряд отличий от подобных услуг в других областях знаний. Наряду с правовыми аспектами, подвластными юристу, в этой сфере много технических нюансов, в которых досконально разберется только опытный землеустроитель.
            +e.P Отдельная тема – платежи за землю, в которой зачастую «теряются» даже бухгалтеры со стажем, так как опять же присутствует своя земельная специфика.
            +e.P Ошибки могут обойтись значительно дороже, чем стоимость услуги по консультации!

        +b.tabs-content
            +e.P Второй таб

        +b.tabs-content
            +e.P Третий таб

        +b.tabs-content
            +e.P Четвертый таб

        +b.services-information.tabs-content._active
            +e.H1.title Услуги
            +e.P.text Целью нашего проекта является оказание профессиональной помощи  гражданам,  юридическим лицам и индивидуальным предпринимателям в разрешении земельных вопросов.
            +e.P.text Мы оказываем широкий спектр услуг в сфере земельных отношений.
            +e.P.text Так, наряду с консультациями по вопросам изъятия и предоставления земельных участков, их использования мы готовы оказать также помощь в оформлении документов на землю, составлению запросов в различные органы государственной власти.
            +e.P.text Наши специалисты в области геодезии выполнят работы по топографической съемке местности, выносу осей строений в натуру (на местность), восстановят утраченные межевые знаки по границе вашего земельного участка.
            +e.P.text При оказании услуг мы гарантируем конфиденциальность, предоставленные данные не разглашаются и используются только для решения поставленной задачи.
            +e.P.text_bold Перечень наших услуг не является закрытым. Он варьируется исходя из ваших потребностей!
        
    
+b.details
    .container
        +e.FORM.form(action="#")
            +e.H2.title Узнайте подробности прямо сейчас!
            +e.INPUT.phone(required placeholder="Введите ваш номер телефона*")
            +e.INPUT.email(placeholder="Введите e-mail")
            +e.TEXTAREA.text(placeholder="Сообщение")
            +b.LABEL.button._green._big._form(for="file") ЗАГРУЗИТЬ ФАЙЛЫ ДЛЯ АНАЛИЗА
            +b.INPUT.file(type="file" id="file") 
            +b.BUTTON.button._orange._big._form(type="submit") ОТПРАВИТЬ СООБЩЕНИЕ
             